<web-app>
<servlet>
<servlet-name>WelServlet</servlet-name>
<servlet-class>WelServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>WelServlet</servlet-name>
<url-pattern>/wel</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>RDServlet</servlet-name>
<servlet-class>RDServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>RDServlet</servlet-name>
<url-pattern>/login</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>Error</servlet-name>
<servlet-class>Error</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Error</servlet-name>
<url-pattern>/err</url-pattern>
</servlet-mapping>
</web-app>